@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background: #E2E2E2;
}

:root {
  /* Your custom root styles */
  --main-color:#1FA45B;
  --text-color: #000000;
}

.nav{
  position: fixed;
  left: 20;
  top: 0;
  bottom: 0;
}

.app-container{
  width: 15vw;
}
